@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
body {
  background: #232a36;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Ubuntu", sans-serif;
}
.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  overflow-y: scroll;
}

/* hiding scrollbar but keeing functionality */
.vertical-nav::-webkit-scrollbar {
  display: none;
}
.vertical-nav {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/*end hiding scrollbar but keeing functionality */

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}
.text-gray {
  color: #232a36;
}
.nav-link {
  text-transform: capitalize;
  color: #232a36;
}
.nav-link:hover {
  background: #232a36;
  color: white;
  border-radius: 99px 0 0 99px;
}
.text-primary {
  color: #7579e7 !important;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

#sidebarCollapse {
  position: fixed;
  top: 0;
  right: 0;
}

/* theme styler */

.theme-switcher {
  position: fixed;
  right: 0;
  padding: 10px;
  top: 130px;
  padding-top: 10px;
  width: 80%;
  z-index: 999;
  border-radius: 5px;
  transition: all 0.3s ease;
  transform: translateX(100%);
}

.theme-switcher.open {
  transform: translateX(-15px);
}

.theme-switcher .s-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  font-size: 15px;
  text-align: center;
  background-color: #232a36;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease;
  margin-right: 15px;
  right: 100%;
}
.theme-switcher .s-icon::after {
  border-radius: 50%;
}
.theme-switcher .s-icon i {
  font-size: 20px;
  line-height: 40px;
}

.theme-switcher .style-toggler {
  top: 0;
}

/* theme styler end */

/* carousel */
.tools_screenshot {
  border: 2px white solid;
  transition: all ease-in-out 0.3s;
}

.tools_screenshot:hover {
  transform: scale(1.2);
}

.sidebar__logo {
  display: flex;
  align-items: center;
}

.sidebar__logo > a > img {
  width: 40px;
  height: 40px;
}

.sidebar__footer {
  align-items: center !important;
}

.sidebar__footer > a > i {
  font-size: 40px;
  text-decoration: none;
  color: black !important;
}
.sidebar__footer > p {
  font-size: 10px;
}
