<!-- -  NavBar - -->

<nav class="flex-row bg-white">
    <div class="burger-menu flex-center">
        <div class="menu-btn flex-center">
            <div class="burger">
            </div>
        </div>
    </div>
    <div class="media d-flex align-items-center">
        <div class="media-body">
            <div class="sidebar__logo">
                <a href="https://sairish2001.github.io/makesmatheasy.github.io/"><img
                        src="../public/images/makesmatheasylogo.png" alt="Logo" /></a>
                <h4 class="m-0">MakesMathEasy</h4>
            </div>
        </div>
    </div>
    <ul class="nav flex-row">
        <li class="nav-item mx-2">
            <a href="{{site.baseurl}}/" class="nav-link px-4"> home </a>
        </li>
        <li class="nav-item mx-2">
            <a href="{{site.baseurl}}/about" class="nav-link px-4"> About </a>
        </li>
    </ul>
</nav>
<!-- -  NavBar Ends - -->   